.container {
  height: 100%;
  .wrapper {
    display: flex;
    flex-direction: column;
    header {
      display: flex;
      justify-content: center;
      background: grey;
    }
    .content {
      display: flex;
      flex-direction: column;
      flex: 1;
      background: #99ffff;
    }
    .item-selected {
      background: #99ffff;
    }
    footer {    
      display: flex;
      justify-content: center;
      background: grey;
    }
  }
}
