.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  .canvas-container {
    display: flex;
    width: 600px;
    flex-direction: row;
    .canvas-holder {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 10px;
    }
  }
}
