.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  .canvas-container {
    display: flex;
    width: 600px;
    flex-direction: row;
    .canvas-holder {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 10px;
    }
  }
  .filter-container {
    display: flex;
    flex-direction: column;
    .video-container {
      display: flex;
      flex-direction: row;
    }
    .filter-list {
      margin-left: 10px;
      .filter-item {
        margin-top: 5px;
        cursor: pointer;
        height: 30px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #223333;
      }
      .filter-item-selected {
        background: #C9B7AD;
      }
    }
  }
}
